.grey-background{
    -fx-background-color: #DDDDDD;
}
.border-bottom{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}
.white-gradient{
    -fx-background-color: linear-gradient(to top,#676767,transparent);
}
.black-gradient{
    -fx-background-color: linear-gradient(to top, #0D0D0D,transparent);
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2),10, 0, 0, 10);
}
.dark-background{
    -fx-background-color: #0D0D0D;
}
.light-black-background{
    -fx-background-color: #414141;
}
.red-theme{
    -fx-background-color: #FA2742;
}
.dark-red-theme{
    -fx-background-color: #AF0404;
}
.yellow{
    -fx-background-color: #F6E74D;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.button{
    -fx-background-color: #111111;
}
.button:hover{
    -fx-background-color: #474747;
}
.button:pressed {
    -fx-background-color: #111111;
}


